div#application-passwords-section,
.yoast.yoast-settings {
display: none!important;
}


.wp-core-ui select {
width: 100% !important;
max-width: 500px;
}

input[type=date],
input[type=datetime-local],
input[type=datetime],
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=time],
input[type=url],
input[type=week] {
width: 100%;
max-width: 500px;
}